.CostColumn{
  background: lightblue;
  padding: 10px;
  border-radius: 5px;
  text-align: center;
}

.Viewport{
  background-color: skyblue;
}

.dashboard{
  display:grid;
  grid-template-columns: repeat(3,1fr);
  min-height: 50vh;
  gap: 2vw;
  width: 100vw;
  padding : 20px;
}

.dashboard-wrapper{
  display:flex;
  justify-content:center;
}